.Shelf {
    background-color: wheat;
    height: 80%;
    color: gray;
    border-top: 300px;
    width: 50%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.15s;
}

button:hover {
    color: green;
    border-color: #DDDDDD;
}

button:active {
    color: #051b354f;
    border-color: #BBBBBB;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}